Package: {{ package_internal_name }}
Version: {{ package_version }}
Architecture: {{ package_architecture }}
Maintainer: root@retro.com
Depends: {{ package_depends }}
Description: {{ package_description }}
