[Unit]
Description=Retroarch standalone

[Service]
User=arcade
Group=arcade
SupplementaryGroups=input render
TTYPath=/dev/tty1
ExecStart=/usr/local/bin/retroarch
ExecStop=/usr/bin/killall --exact --wait retroarch

[Install]
WantedBy=multi-user.target
